.complete{
    text-decoration: line-through;
    text-decoration-thickness: 3px;
    text-decoration-color: black;
  
}
.item{
      display:flex;
      justify-content: center;
      align-items: center;
      color:white;
   
}  
p{
    font-family: cursive;
}

.image{
    width: 40;
    height: 40;
    padding: 5px;
}

.item.input{
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    font-size: 20px;
}