.App {
  max-width:400px;
  display:flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  text-align: center;
 margin:auto;
 
}

h1{
  color: antiquewhite;
}
.inputForm{
  display: grid;
}
.input {
  background-color: whitesmoke;
  color: grey;
  padding: 1em 2em;
  border-radius: 0.5em;
  border: none;
  outline: none;
  position: relative;
  margin: 5px;
  height:0.7rem;
}

.btn{
  width: 100px;
  margin: auto;
}